.home {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem 0 5rem;
    gap: 1rem;
}

.profile-column {
    flex: 1; /* Adjusted flex value */
}

.content-column {
    flex: 2; /* Adjusted flex value */
}

.required {
    display: flex;
    flex-direction: column;
    flex: 1; /* Adjusted flex value */
    background: #1b2730;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
}

.required span {
    font-weight: 700;
    color: #1c628f;
    text-align: start;
}

.required > * {
    align-self: flex-start; /* Adjusted alignment */
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    /* padding: 1rem 2rem 1rem 2rem; */
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
    .home {
        justify-content: center;
        width: 90%;
        flex-wrap: wrap;
        padding: 1rem;
    }
    #explore {
        display: none;
    }
    .required {
        width: 100%;
    }
}
